@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Profile", "Writer", FormMethod.Post, new { @class = "forms-sample", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.WriterId)

                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad Soyad</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", placeholder = "Adı Soyadı" })
                    @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre Tekrar</label>
                    @Html.PasswordFor(x => x.RPassword, new { @class = "form-control", placeholder = "Şifre Tekrar" })
                    @Html.ValidationMessageFor(x => x.RPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        @Html.TextBoxFor(x => x.Image, new { @class = "form-control", placeholder = "Görsel Yükle", type = "file" })
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Resim Seç</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">Hakkımda</label>
                    @Html.TextAreaFor(x => x.About, 10, 0, new { @class = "form-control", placeholder = "Hakkımda" })
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Gönder</button>
                <button type="reset" class="btn btn-light">İptal Et</button>
            }
        </div>
    </div>
</div>